Repository insolite-dev/notya, pull requests merged in 2021-12, with the labels that each got.

#12 Feature/edit
  lib/commands/app.go
  lib/commands/edit.go
  lib/services/local_service.go
  lib/services/repository.go
  pkg/utils.go
  pkg/utils_test.go
  pkg/vi_test.go
Labels: feature, command

#15 Feature/rename
  lib/commands/app.go
  lib/commands/edit.go
  lib/commands/rename.go
  lib/services/local_service.go
Labels: feature, command

#17 Feature/ls
  lib/commands/app.go
  lib/commands/ls.go
  pkg/logger.go
  pkg/logger_test.go
Labels: feature, command

#18 feature/banner
  assets/banner.txt
  cmd/app.go
  lib/commands/app.go
  main.go
  pkg/utils.go
  pkg/utils_test.go
Labels: feature

#20 Feature/rm
  lib/commands/app.go
  lib/commands/rm.go
  lib/services/local_service.go
  lib/services/repository.go
Labels: command

#21 Feature/refactoring
  .gitignore
  cmd/app.go
  lib/commands/app.go
  lib/commands/create.go
  lib/commands/edit.go
  lib/commands/init.go
  lib/commands/list.go
  lib/commands/ls.go
  lib/commands/remove.go
  lib/commands/rename.go
  lib/commands/view.go
  lib/models/note.go
  lib/services/local_service.go
  lib/services/repository.go
  pkg/constants.go
  pkg/logger.go
  pkg/utils.go
  pkg/vi.go
Labels: feature

#23 feature/release
  .gitignore
  .goreleaser.yml
  README.md
Labels: feature

#27 Feature/easy install
  README.md
  assets/banner.txt
  install.sh
  lib/commands/app.go
Labels: feature

#28 Feature/easy install (#27) (from develop)
  README.md
  assets/banner.txt
  install.sh
  lib/commands/app.go
Labels: feature

#36 Feature/copy command
  go.mod
  go.sum
  lib/commands/app.go
  lib/commands/copy.go
  lib/services/local_service.go
  lib/services/repository.go
Labels: command
